<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/head %>
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
      />
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <title>Wallet App</title>
  </head>
  <body>
    <%- include partials/header %>
    <section class="home" id="home">
      <div class="swiper home-slider">
        <div class="swiper-wrapper wrapper">
          <div class="swiper-slide slide">
            <div class="content">
              <h3>The app for everyone</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reiciendis sequi dolorum</p>
            </div>
            <div class="image">
              <img src="/images/slider1.jpeg" alt="">
            </div>
          </div>
          <div class=" swiper-slide slide">
            <div class="content">
              <h3>Control over your income and expenses</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reiciendis sequi dolorum</p>
            </div>
            <div class="image">
              <img src="/images/slider2.jpeg" alt="">
            </div>
          </div>
          <div class="swiper-slide slide">
            <div class="content">
              <h3>Easy to use</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reiciendis sequi dolorum</p>
            </div>
            <div class="image">
              <img src="/images/slider3.jpeg" alt="">
            </div>
          </div>
        </div>
      <div class="swiper-pagination"></div>
      </div>
    </section>
    <section class="balance" id="balance">
      <h3 class="sub-heading">See yours incomes and expenses</h3>
      <h1 class="heading">Your Balance</h1>
      <% if (locals.userLogged && typeof user != 'undefined') { %>
        <h1 class="wallet-balance">$<%= balance %></h1>
        <% } else { %> 
          <h2 class="wallet-balance">$0,00</h2>
      <% }; %>
    </section>
    <section class="last-operations" id="last-operations">
      <h1 class="heading">Last Operations</h1>
      <a href="/operations"><h3 class="sub-heading heartbeat">Click here for see all movements</h3></a>
      <div class="card-table">
        <table class="home-table"aria-describedby="myOperations" id="dataTable" cellspacing="0">
          <thead>
            <tr>
              <th id="detail">Detail</th>
              <th id="amount">Amount</th>
              <th id="date">Date</th>
              <!-- <th id="type">Type</th>
              <th id="category">Category</th> -->
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th id="detail">Detail</th>
              <th id="amount">Amount</th>
              <th id="date">Date</th>
              <!-- <th id="type">Type</th>
              <th id="category">Category</th> -->
            </tr>
          </tfoot>
          <tbody id="insert-data">
            <% if (locals.userLogged && typeof user != 'undefined') { %>
              <% lastOperations.forEach(operation => { %>
                <tr>
                  <td><%= operation.detail %></td>
                  <td class=<%= operation.type=='Expense'? 'expense': null; %>>$<%= operation.ammount %></td>
                  <td>
                    <%= moment(operation.date).format( 'DD-MMM-YYYY') %>
                  </td>
                </tr>
              <%  }); %>
              <% }; %>
          </tbody>
        </table>
      </div>
    </section>
    <script src="/javascripts/swiper.js"></script>
    <%- include partials/footer %> 
    <script src="/javascripts/operationsMenu.js"></script>
    <% if (!locals.userLogged) { %>
      <script src="/javascripts/showLocalOperations.js"></script>
    <% }; %>
  </body>
</html>
