<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/head %>
    <title>Operations</title>
  </head>
  <body>
    <%- include partials/header %>
    <section class="balance-detail" id="balance">
      <h1 class="heading">Your Balance</h1>
      <h1 class="wallet-balance">$132.456,59</h1>
    </section>
    <section class="last-operations" id="last-operations">
      <form class="add-operations-form" id="add-operations-form" action="/operations/add" method="POST">
        <i class="fas fa-times cancel-button" id="cancel-button"></i>

        <label for="detail">Detail</label>
        <input type="text" name="detail" id="detail">

        <label for="ammount">Ammount</label>
        <input type="number" name="ammount" id="ammount" step="any">

        <label for="date">Date</label>
        <input type="date" name="date" id="date" value="">

        <label for="type">Type</label>
        <select name="type" id="type">
          <option value="Income">Income</option>
          <option value="Expense">Expense</option>
        </select>
        
        <label for="category">Category</label>
        <select name="category" id="category">
          <option value="Food">Food</option>
          <option value="Essential Services">Essential Services</option>
        </select>

        <button type="submit" class="btn-check"><i class="fas fa-check-square"></i></button>
      </form>
      <div class="flex-conteiner">
        <a class="heartbeat" id="add-operations-button"><i class="fas fa-plus-square"></i></a>
        <h3 class="add-text">Pres to Add operation</h3>
      </div>
      <div class="card-table">
        <table aria-describedby="myOperations" id="dataTable" cellspacing="0">
          <thead>
            <tr>
              <th id="detail">Detail</th>
              <th id="amount">Amount</th>
              <th id="date">Date</th>
              <th id="type">Type</th>
              <th id="category">Category</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th id="detail">Detail</th>
              <th id="amount">Amount</th>
              <th id="date">Date</th>
              <th id="type">Type</th>
              <th id="category">Category</th>
            </tr>
          </tfoot>
          <tbody>
            <% if (lastOperations.length >= 1) { %> 
              <% lastOperations.forEach(operation => { %>
            <tr>
              <td><%= operation.detail %></td>
              <td>$<%= operation.ammount %></td>
              <td><%= operation.date %></td>
              <td><%= operation.type %></td>
              <td>
                <%= operation.category %>
                <a class="btn-cancel" href="/operations/edit">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="btn-cancel" href="/operations/delete/"><i class="fas fa-trash"></i></a>
              </td>
            </tr>
            <%  }); %>
            <% }; %> 
            <!-- <tr>
              <td>Pago factura de luz</td>
              <td>890,35</td>
              <td>21/09/2021 10:30</td>
              <td>Gasto</td>
              <td>Servicios básicos</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </section>
    <script src="/javascripts/operationsMenu.js"></script>
    <%- include partials/footer %> 
  </body>
</html>
