<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/head %>
    <title>Register</title>
  </head>
  <body>
    <%- include partials/header %>
    <form class="register-form" action="/users/register" method="POST">
      <h2 class="title-form">Register</h2>
      <div class="format-form">
        <label for="email">Email</label>
        <input class="<%= locals.errors && errors.email? 'is-invalid style-input' : 'style-input' %>" type="email" name="email" id="email" 
        value="<%= locals.oldData ? oldData.email : null %>">
        <% if (locals.errors && errors.email) { %>
          <div class="text-danger">
            <%= errors.email.msg %> 
          </div>
        <% } %>
        <label for="password">Password</label>
        <input class="<%= locals.errors && errors.password? 'is-invalid style-input' : 'style-input' %>" type="password" name="password" id="password" 
        value="<%= locals.oldData ? oldData.password : null %>">
        <% if (locals.errors && errors.password) { %>
          <div class="text-danger">
            <%= errors.password.msg %> 
          </div>
        <% } %>
      </div>
      <a class="btn-cancel" href="/">Back</a>
      <button class="btn-check" type="submit">Send</button>
    </form>
    <%- include partials/footer %> 
  </body>
</html>
