<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/head %>
    <title>Account</title>
  </head>
  <body>
    <%- include partials/header %>
        <form class="register-form" action="/users/account/?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="align-image-user">
                <img src="<%= user.avatar %>" alt="user image" class="user-image">
            </div>
            <div class="top-form">
                <h2 class="title-form">Edit Account</h2>
            </div>
            <div class="format-form">
                <label for="avatar">Avatar</label>
                <input class="style-input" type="file" name="avatar" id="avatar">
                <label for="email">Email</label>
                <input class="<%= locals.errors && errors.email? 'is-invalid style-input' : 'style-input' %>" type="email" name="email" id="email" 
                value="<%= user.email %>">
                <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                    <%= errors.email.msg %>
                </div>
                <% } %>
                <label for="password">Password</label>
                <input class="<%= locals.errors && errors.password? 'is-invalid style-input' : 'style-input' %>" type="password" name="password" id="password" 
                value="<%= locals.oldData ? oldData.password : null %>">
                <% if (locals.errors && errors.password) { %>
                    <div class="text-danger">
                    <%= errors.password.msg %>
                    </div>
                <% } %>
            </div>
            <a href="/users/delete/" type="menu" class="btn-cancel" id="delete-user">Delete User</a>
            <a href="/" type="menu" class="btn-cancel">Back</a>
            <button class="btn-check" type="submit">Edit</button>      
        </form>
    <%- include partials/footer %>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/javascripts/sweetAlertDelete-user.js"></script>
  </body>
</html>